@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?czo0fi');
    src: url('../fonts/icomoon.eot?czo0fi#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?czo0fi') format('truetype'),
        url('../fonts/icomoon.woff?czo0fi') format('woff'),
        url('../fonts/icomoon.svg?czo0fi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$btn-green: #1bbc9b;
$white: #fff;
$dark-green: #16a086;
$gray: #444;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $gray;
}

.container {
    max-width: 995px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    height: auto;
}

.wrapper {
    min-width: 320px;
}

.holder-header {
    display: flex;
    align-items: center;
    padding: 20px 0 20px;
    @media screen and (min-width: 768px) {
        justify-content: space-between;
        flex-flow: wrap;
        padding: 23px 0 23px;
    }
}

.header-nav {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        ul {
            display: flex;
            font-size: 0;
        }
        li {
            list-style: none;
            display: inline-block;
            vertical-align: top;
            padding: 0 5px;
        }
        a {
            font-size: 14px;
            padding: 13px 12px;
            text-decoration: none;
            font-weight: 300;
            text-transform: uppercase;
            transition: color 0.7s;
            color: $gray;
            &:hover {
                background-color: $btn-green;
                color: $white;
            }
        }
    }
}

.burger {
    position: fixed;
    right: 10%;
    top: 17px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $gray;
}

.mm-navbar {
    height: auto;
}

.mm-menu a:active, .mm-menu a:hover {
    color: $dark-green;
}

.build-brand {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('../images/bg-sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 768px) {
        background-image: url('../images/header.jpg');
    }
}

.holder-build-brand {
    padding: 35px 0;
    @media screen and (min-width: 1024px) {
        padding-top: 70px;
        padding-bottom: 80px;
    }
}

h1 {
    font-size: 36px;
    font-weight: 300;
    color: $white;
    @media screen and (min-width: 768px) {
        font-size: 45px; 
    }
    @media screen and (min-width: 1024px) {
        font-size: 55px;
    }
    strong {
        font-weight: 700;
    }
}

.text {
    font-weight: 300;
    font-size: 15px;
    color: $white;
    line-height: 1.5;
    padding: 16px 0;
    @media screen and (min-width: 768px) {
        font-size: 16px;
        margin-bottom: 28px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 18px;
    }
}

.button {
    display: inline-block;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 42px;
    }
}

.icon-down:before {
    content: "\e900";
    color: $white;
    font-size: 25px;
    transition: .4s;
    @media screen and (min-width: 768px) {
        font-size: 40px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 45px;
    }
}

.arrow a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.btn {
    display: block;
    background-color: $btn-green;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 11px 6px;
    color: $white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.5s;

    &:hover {
        background-color: $dark-green;
    }

    @media screen and (min-width: 1024px) {
        display: inline-block;
        vertical-align: top;
    }
}


.holder-portfolio {
    padding: 35px 0;
    @media screen and (min-width: 1024px) {
        padding-top: 47px;
        padding-bottom: 60px;
    }
}

.header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    h2 {
        font-size: 20px;
        margin-bottom: 7px;
        @media screen and (min-width: 768px) {
            font-size: 28px;
        }
    }
}

.button-design {
    text-align: center;
    margin: 0 -7px 20px;

    li {
        list-style: none;
        vertical-align: top;
        padding: 0 7px;
        margin-bottom: 5px;
    }
    @media screen and (min-width: 480px) {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
        }
        li {
            width: 50%;
        }
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 35px;
        li {
            width: 25%;
        }
    }
    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;

        li {
            width: auto;
        }
    }
}

.design {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.circle {
    padding: 0 10px 15px;
    @media screen and (min-width: 768px) {
        padding: 0 25px 18px;
        width: 33.33%;
    }
    @media screen and (min-width: 1024px) {
        width: 25%;
    }
}

.img-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: $white;
    border-radius: 100%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    overflow: hidden;
    &:hover .hover-text {
        opacity: 1;
        background: rgba(22, 162, 136, .75);
    }
    @media screen and (min-width: 480px) {
        width: 150px;
        height: 150px;
    }
    @media screen and (min-width: 768px) {
        width: 180px;
        height: 180px;
    }
}

.hover-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .3s,
                visibility .3s;
    opacity: 0;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        font-size: 16px;
        background-color: $gray;
        border-radius: 100%;
        padding: 10px;
        opacity: .61;
        margin-bottom: 14px;
        @media screen and (min-width: 480px) {
            width: 38px;
            height: 38px;
            font-size: 18px; 
        }
        @media screen and (min-width: 768px) {
            width: 44px;
            height: 44px;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    p {
        font-size: 12px;
        white-space: nowrap;
        &:nth-child(2) {
            font-size: 14px;
            white-space: nowrap;
        }
        @media screen and (min-width: 768px) {
            font-size: 14px;
            white-space: nowrap;
            &:nth-child(2) {
                font-size: 18px;
            }
        }
    }
}

.icon-search:before {
    content: "\e901";
}

.holder-about {
    padding: 35px 0;
    @media screen and (min-width: 768px) {
        padding: 49px 0 28px;
    }
}

.about {
    background-color: $dark-green;
    h2, .gray {
        color: $white;
    }
    p {
        font-style: italic;
        margin: 0 0 26px;
    }
}

.occupation {
    text-align: center;
    padding: 20px 10px;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
}

.item-employees {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: $white;
    max-width: 220px;
    margin-bottom: 34px;
    &:hover .social {
        display: block;
    }
    @media screen and (min-width: 480px) {
        width: 160px;
    }
    @media screen and (min-width: 768px) {
        width: 190px;
    }
    @media screen and (min-width: 1024px) {
        width: 220px;
    }  
}

.visual-employees {
    position: relative;
    vertical-align: top;
}

.social {
    display: none;
    text-align: center;
    font-size: 0;
    color: $white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    li {
        display: inline-block;
        vertical-align: top;
    }
    a {
        position: relative;
        color: inherit;
        display: inline-block;
        vertical-align: top;
        width: 45px;
        height: 48px;
        background-color: $dark-green;
        font-size: 28px;
        text-decoration: none;
    }
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.icon-dribbble:before {
    content: "\e902";
}

.icon-google:before {
    content: "\e903";
}

.icon-twitter:before {
    content: "\e904";
}

.icon-fb:before {
    content: "\e905";
}

.holder-contact {
    padding: 35px 0;
    @media screen and (min-width: 768px) {
        padding: 45px 0 22px;
    }
}

.contact {
    background-color: #ecf0f1;
}

.information {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin: 0 -10px;
}

.contact-form {
    width: 100%;
    text-align: right;
    padding: 0 10px 15px;
    @media screen and (min-width: 768px) {
        width: 50%;
    }
}

.holder-input {
    display: flex;
    justify-content: space-between;
}

input[type="text"],
textarea {
    width: 47.5%;
    padding: 15px 10px;
    border: 2px solid #bec3c7;
    font-style: italic;
    margin-bottom: 18px;
}

textarea {
    width: 100%;
    resize: none;
}

input[type="submit"] {
    border: 1px solid $btn-green;
    padding: 10px 26px;
    margin: 0;
}

address {
    font-style: normal;
}

.location {
    padding: 0 30px;
    width: 50%;

    h5 {
        text-transform: uppercase;
        margin: 0 -20px 16px;
        font-size: 14px;
    }
    ul {
        list-style: none;
        margin: 0;
    }
    li {
        position: relative;
        padding-bottom: 16px;
        line-height: 1.4;
    }
    a {
        text-decoration: none;
        color: $gray;
    }
    i {
        position: absolute;
        top: 3px;
        left: -20px;
    }
}

footer {
    background-color: #2d3e50;
}

.holder-license {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    @media screen and (min-width: 1024px) {
        padding: 35px 0;
    }
}

.license {
    font-size: 14px;
    color: $white;

    ul {
        list-style: none;
        display: inline-block;
    }
    li {
        display: inline-block;
        & + li::before {
            content: "| ";
        }
    }
    a {
        text-decoration: none;
        color: $white;
    }
}

.up {
    position: fixed;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: $white;
    bottom: 19px;
    right: 31px;
    width: 45px;
    height: 45px;
    background-color: $btn-green;
    cursor: pointer;

    &:hover {
        background-color: $dark-green;
    }
}

.icon-up:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "\e906";
    font-size: 20px;
}

.icon-message:before {
    content: "\e907";
}

.icon-fax:before {
    content: "\e908";
}

.icon-phone:before {
    content: "\e909";
    color: #4a4a4a;
}

.icon-location:before {
    content: "\e90a";
}